html {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', sans-serif;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(48, 51, 66);
}

a {
  color: rgb(116, 139, 255);
}

.main-body {
  max-width: 1200px;
  margin: auto;
}

.footer {
  margin-top: 24px;
}

.footer hr {
  margin-bottom: 16px;
}

.footer p {
  font-size: 90%;
  color: grey;
  margin-top: 0px;
  margin-bottom: 0px;
}