html {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', sans-serif;
}

* {
  scrollbar-color: #888 var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(48, 51, 66);
}

a {
  color: rgb(116, 139, 255);
}

.main-body {
  max-width: 1200px;
  margin: auto;
}

.generate-data-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.generate-data-div input {
  font-size: 16px;
}

.generate-data-div button {
  font-size: 16px;
}

.data {
  display: grid;
  grid-template-columns: repeat(5, 55px);
  place-content: center;
  gap: 5px;
  margin-top: 16px;
}

div.data-variable {
  margin: auto;
}

input.data-cell {
  height: 50px;
  width: 50px;
  margin: 0px;
  background-color: var(--bg-color);
  border: 1px solid rgb(128, 128, 128);
  text-align: center;
  font-size: 20px;
  color: var(--text-color);
}

.footer {
  margin-top: 24px;
  margin-bottom: 32px;
}

.footer hr {
  margin-bottom: 16px;
}

.footer p {
  font-size: 90%;
  color: grey;
  margin-top: 0px;
  margin-bottom: 0px;
}